Package: com.justdie.hidy
Name: hidy
Version: 0.0.1
Architecture: iphoneos-arm
Description: This tweak allows you to hide and change multiple aspects of your home screen. Big thanks to windi and luki for the constant help!
Maintainer: justdie
Author: justdie
Section: Tweaks
Icon: https://raw.githubusercontent.com/justdie386/hidy/main/hidyprefs/Resources/icon.png
Depends: mobilesubstrate (>= 0.9.5000)
